# Database
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# API
API_PORT=
VITE_API_URL=

MODE=development
COMPOSE_PROFILES=${MODE:-development}

# React (dev -> Vite :5173 | prod -> nginx :80)
REACT_PORT=5173
REACT_PROD_PORT=8080